.qodo
# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
myenv/
env/
venv/

# MLflow
mlruns/

# DVC
.dvc/
*.dvc

# Jupyter/IPython
notebooks/.ipynb_checkpoints/

# Pytest
.pytest_cache/

# VSCode/IDE
.vscode/
*.swp

# System files
.DS_Store
Thumbs.db